        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot has-text-right">
            <p>&copy Will Colgate 2022</p>
        </div>
      </section>
      <script src="/js/app.js"></script>
</body>
</html>