        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <p>&copy Will Colgate </p>
        </div>
      </section>
      <script src="app.js"></script>
</body>
</html>