<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<div class="hero-body is-align-items-start">
    <div class="container">
      <div class="section">
        <h1 class="is-size-1">Are you sure you want to delete this place from your places (this action cannot be undone)?</h1>
      </div>
      <div class="section is-flex is-justify-content-center">
        <form action="/places/user/delete/<%= _id %>?_method=DELETE" method="post" class="field" id="add-item">
          <div class="control">
            <input class="button mt-3" type="submit" value="Yes" name="yes">
            <input class="button mt-3" type="submit" value="No" name="no">
          </div>
      </form>  
      </div> 
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs") %>