<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<script src="/js/maps.js"></script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetSuggestion' async defer></script>
<div class="hero-body">
    <div class="container">
      <form action="/places/create" method="post" class="field" id="add-item">
        <label class="label">Search</label>
        <div class="control" id="searchBoxContainer">
          <input class="input" type="text" placeholder="Search a place" id="searchBox" name="searchString" autocomplete="off">
        </div> <br>
            <input class="input" type="hidden" name="entityId" id="entity-id">
            <input class="input" type="hidden" name="country" id="country-name">
            <input class="input" type="hidden" name="countryCode" id="country-code">
            <input type="hidden" name="center" id="center">
            <label class="label">Visited/Planned</label>  
            <div class="control select">
              <select name="visitedPlanned" id="visited-planned" onchange="toggleVisitedPlanned()">
                <option value="" id="disable-selection">Select one:</option>
                <option value="visited">Visited</option>
                <option value="planned">Planned</option>
              </select>
            </div>
              <label class="label">Notes</label>
              <div class="control">
                <input class="textarea disable" type="text" name="notes" disabled/>
              </div>
              <label class="label">Date from</label>
              <div class="control">
                <input class="input disable" type="date" name="dateFrom" disabled/>
              </div>
              <label class="label">Date to</label>
              <div class="control">
                <input class="input disable" type="date" name="dateTo" disabled/>
              </div>
              <label class="label">Rating</label>
              <div class="control">
                <input class="text disable" type="number" min="1" max="5" value="3" name="rating" disabled/>
              </div>
            </form>  
            <br>
            <div class="control">
              <input class="button" type="submit" value="Submit" form="add-item">
            </div>
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs") %>