<%- include("./partials/head.ejs") %> 
<%- include("./partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container has-text-centered">
    <p class="title">Title</p>
    <p class="subtitle">Subtitle</p>
  </div>
</div>
<%- include("./partials/footer.ejs") %>