body {
    background-color: #8DCFD0;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
.hidden {
    display: none;
}
/* Navbar styling */
.hero-head {
    background-color: rgba(230, 230, 230, 0.25);
}
.navbar-item {
    background-color: #8DCFD0;
}
/* Footer styling */
.hero-foot {
    background-color: rgba(230, 230, 230, 0.25);
}
/* Landing page styling */
#hero-image {
    background-image: url("./img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sign-up {
    background-color: rgba(230, 230, 230, 0.5);
    padding: 3em;
    border-radius: 10%;
}
#quote {
    background-color: rgba(141, 207, 208, 0.75);
    text-shadow: 2px 2px #1e7577;
    border-radius: 5%;
}
/* Sign up page styling */
#errors {
    list-style: square;
    font-weight: bold;
}
/* Home and Map styling */
#my-map {
    height: 50vh;
    width: 70vw;
    max-width: 550px;
}
.box {
    background-color: aliceblue;
    width: 70vw;
    max-width: 550px;
    padding: 0.25rem;
}