<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="container">
      <h1>Homepage</h1>
    </div>
</div>
<%- include("../partials/footer.ejs") %>