<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="container has-text-centered">
      <div>
        <div id="my-map"></div>
      </div>
      <div>
        <nav class="panel">
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          <p class="panel-tabs">
            <a class="is-active">All</a>
            <a>Visited</a>
            <a>Planned</a>
          </p>

          <a class="panel-block is-active">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            bulma
          </a>
  
          <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
              Reset all filters
            </button>
          </div>
        </nav>
      </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>