<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %>
<!-- Hero content: will be in the middle -->
<div class="hero-body" id="hero-image">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
        <form action="/register" method="post">
            <div class="field" id="sign-up">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name="name">
            </div>
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" name="email">
            </div>
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" name="password">
            </div>
            <label class="label">Confirm password</label>
            <div class="control">
              <input class="input" type="password" name="confirm-password">
            </div> <br>
            <div class="control">
              <button class="button is-link is-light" type="submit">Submit</button>
            </div>
          </div> 
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs") %>